/* Правая панель: квадраты и таблица*/

.dash-content .title .title-rectangle-icon .title-category-icon {
    background-image: url(images/noun-category-3263979-white.svg);    
    background-size: contain;   
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;	    
    height: 28px;
    width: 28px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 28px;
    /* cursor: pointer; */
    padding: 0;
    /* position: absolute;
    top: 40%;
    left: 0%; */
    transition: background-color 200ms ease-out;
}

body.dark .title .title-rectangle-icon .title-category-icon,
body.dark .title .title-rectangle-icon .title-category:hover {
    background-image: url(images/noun-category-3263979-light-grey.svg);    
    /* background-size: auto, auto;    */
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    height: 28px;
    width: 28px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 28px;
    transition: var(--tran-05);
}

.admin-add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 12px;
    text-decoration: none;
    font-size: 16px; 
    font-weight: 500;   
    background-color: var(--primary-color);
    color: var(--title-icon-color);
    height: 35px;
    width: 125px;
    min-width: 122px;    
    border-radius: 6px;    
    transition: var(--tran-05);
}

.admin-add-button .title-add-icon {
    background-image: url(images/noun-add-1886814-white.svg);    
    /* background-size: auto, auto;    */
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    height: 18px;
    width: 18px;
    /* max-height: 10px; */
    /* max-width: ; */
    min-width: 18px;
    transition: var(--tran-05);
}

body.dark .admin-add-button .title-add-icon {
    background-image: url(images/noun-add-1886814-light-grey.svg);    
    /* background-size: auto, auto;    */
	background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    transition: var(--tran-05);
}

/* ===== Таблица Вадим ===== */
/* .accounts-list {
    width: 100%;
    
} 

.accounts-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    font-size: 20px;
    font-weight: 550;
    color: var(--text-color-darker);
}

.accounts-head > :nth-child(n) {
    flex: 1;
    text-align: center;
} */

.accounts-head .head-category-id {
    max-width: 150px;
}

.account-rows .category-id-column {
    max-width: 150px;
}

.accounts-head .head-category-title {
    text-align: left;
    padding-left: 15px;
}

.accounts-head .head-category-code {
    text-align: left;
    padding-left: 15px;
}

.accounts-head .head-category-image {
    text-align: left;
    padding-left: 15px;
}

.accounts-head .head-category-actions {
    text-align: left;
    padding-left: 15px;
}

/* .account-rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    gap: 10px 0px;
} 

.account-card {
    padding: 20px 30px 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 38px rgba(143, 39, 199, 0.05);
    background-color: #fff;
    width: 300px;
} 

.list {
   
    display: flex;
    align-items: center;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;   

    background-color: #fff;
    border-radius: 8px;
    
}

.accounts-list .list:hover {
    background-color: var(--primary-color-trasparent); 
    transition: var(--tran-05);
}

body.dark .accounts-list .list,
body.dark .accounts-list .list:hover {
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
} 

.account-card-item {
    flex: 1 1;
    align-items: flex-start;

    font-size: 18px;
    font-weight: 400;
    
    white-space: nowrap;
    color: var(--text-color-darker);
    padding-left: 15px;
    padding-right: 15px;
} 

.card-mobile-text {
    display: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-darker);
} */

/* Картинка в строке таблицы */
.admin-table-img-container {
	height: 27px; /* 1.875rem; */
	width: 10%;
	min-width: 10%;		
	text-align: center;
}

.admin-table-img {
    width: auto;
    height: 100%;
    object-fit: contain;
    /* padding: 10px; */
	display: inline-block;
}

/* .wrapper-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 0;
    max-width: 150px;
} 

.wrapper-icon .admin-action-ahref {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 100%;
    min-height: 27px;
}

.wrapper-icon .admin-action-ahref:hover {
    background-color: var(--primary-color);
    transition: var(--tran-03);
}

.admin-form-delete {
    display: inline;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/


/* На мобильном экране */
@media (max-width: 780px) {
    .accounts-head {
        display: none;
    }
    .accounts-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .list {
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 4px 38px rgba(143, 39, 199, 0.05);
        border-radius: 6px;
        border-bottom: none;
        align-items: flex-start;
        padding: 10px;
    }

    .account-card {
        width: 100%;
        padding: 0;
    }

    .account-card-item {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-mobile-text {
        display: inline;
        /* font-size: 18px;
        font-weight: 500;
        color: var(--text-color); */
    }
}

/* ===== End Таблица Вадим ===== */



@media (max-width: 1000px) {
    
}

@media (max-width: 780px) {
    
}

@media (max-width: 729px) {
  
}

@media (max-width: 650px) {
    
}

@media (max-width: 620px) {
    .dash-content .title.title-with-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px 0px;
    }
}

@media (max-width: 560px) {
   
}
@media (max-width: 400px) {
   
}